<!-- 	#  title        :text
		#  location     :text
		#  salary       :float
		#  industry     :text
		#  description  :text
		#  closing_date :date
		#  created_at   :datetime         not null
 -->

 <h2>All jobs</h2>

<ul>
	<% @jobs.each do |job| %>
		<li>
			<ul>
				<%= link_to(job.title, job) %>
				<p> <%= job.location %> </p>

			</ul>
		</li>
	<% end %>
</ul>